html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

body {
  font-family: 'Segoe UI', sans-serif;
}

.rounded-card {
  border-radius: 1rem;
  overflow: hidden;
}